<% layout('../layouts/layout') -%>
<form method="POST">
  <input type="text" placeholder="Password" name="password">
  <input type="text" placeholder="Confirm password" name="confirm">
  <button type="submit">Submit</button>
</form>